 <div class="panel panel-default">
      <div class="panel-heading"> <h3>Votre profil</h3>  </div>
             <div class="panel-body">  
                    <ul class="list-unstyled">
                         <li><a href="{{ path('fos_user_profile_show', { 'id' : app.user.id })  }}">Voir mon profil actuel</a></li> <!-- 'id' : app.user.id-->
                        <li><a href="{{ path('adresse_show', { 'id' : app.user.personne.adresse.id }) }}">Modifier mes coordonnées</a></li>
                        <li><a href="{{ path('personne_showDelete', { 'id' : app.user.id}) }}">Supprimer mon compte</a></li>
                    </ul> 
                </div>
   </div>
             <br>
             
   <div class="panel panel-default">
      <div class="panel-heading"> <h3>Identifiants</h3>  </div>
             <div class="panel-body">  
                    <ul class="list-unstyled">
                        <li><a href="{{ path('djepoUser_changeMail') }}">Modifier mon adresse e-mail</a></li>
                        <li><a href="{{ path('fos_user_resetting_request') }}">Modifier mon mot de passe</a></li>
                    </ul> 
 
                </div>
   </div>
             <br>      
	
     <div class="panel panel-default">
           <div class="panel-heading"> <h3>Mes Projets</h3>  </div>
             <div class="panel-body">  
                    <ul class="list-unstyled">
                        <li><a href="#">Mes projets en cours</a></li>
                    </ul> 
 
                </div>
   </div>
             <br>
	