{% extends "djepoUserBundle::adminlayout.html.twig" %}
{% block meta %} 
 <meta name="description" content="MotsCle">
 <meta name='ROBOTS' content="noindex,nofollow">
 {% endblock %} 
{% block title %} {{ parent() ~ ' -  MotsCle'  }}  {% endblock %}
 
{% block navigsite %} 
 
<ol class="breadcrumb">
            <li> <a href="{{ path('djepoMain_accueil') }}"> {{ djepo_home }} </a> </li>
            <li><a  href="{{ path('djepoUser_profile') }}"> Admin </a></li>
           <li><a href="{{path('djepoMainBundle_motscle') }}"> Mes MotsCles </a> </li> 
            <li class="active">MotsCle </li>
        </ol>
 
{% endblock %}

{% block principal %}	
  {{ parent() }} 
<br>

<h1>{{ app.user.username }} : MotsCle creation</h1>

<form action="{{ path('motscle_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('motscle') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}