<!DOCTYPE HTML>
<html lang="en">
    <head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% block meta %} 
                  <meta name="description" content="{{ motscle.description }}">
                  <meta name="keywords" content="{{ motscle.keyword }}">
                  <meta name='ROBOTS' content='{{ motscle.robot }}'>
         {% endblock %}
            <title>{% block title %}  {% if motscle.titre == '' %} {{ websiteName }}
                      {% else %} {{ websiteName ~' - '~ motscle.titre }}  {% endif %} 
                   {% endblock %}
            </title>
                  
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bundles/djepobootstrap/css/bootstrap.css') }}" type="text/css" />	 
            <link   href="{{asset('bundles/djepomain/css/style.css')}}" type="text/css" rel="stylesheet" >
            <link rel="stylesheet" href="{{ asset('bundles/djepomain/css/login.css') }}" type="text/css" /> 
            
            <style> body { padding-top: 40px; }   </style>
          {% endblock %}
        {% block header_javascripts %} 
             <!--[if lt IE 9]>
          <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        {% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" /> 
        <link rel="apple-touch-icon" href="{{ asset('bundles/djepobootstrap/images/apple-touch-icon.png') }}">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('bundles/djepobootstrap/images/apple-touch-icon-72x72.png') }}" >
        <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('bundles/djepobootstrap/images/apple-touch-icon-114x114.png') }}" >
     </head>
	
     <body>
        <div class="container">
            <div class="row">
                 {% block header %}
                 <div class="col-lg-4"> {# logo PAYEMENT #}  </div>
                <div class="col-lg-8 pull-right">  {# header_droite #} 
                      {% if is_granted("IS_AUTHENTICATED_FULLY") %}  {{ app.user.username }} - 
                          <a href="{{ path('djepoUser_profile') }}"   rel="nofollow"> Gérer mon compte </a>  |
                          {# L'utilisateur est-il admin ? #}
                           {% if is_granted('ROLE_ADMIN') %} <a href="">Administration</a> |  {% endif %}
                                 <a href="{{ path('fos_user_security_logout') }}"   rel="nofollow">Déconnexion</a> 
                            {% else %}
                                     <a href="{{ path('fos_user_inscription_register') }}"   rel="nofollow"> Inscription</a> |
                                     <a href="{{ path('fos_user_connexion') }}"  rel="nofollow">Connexion</a>
                            {% endif %}	
                   
                 </div>
                 <div class="clearfix  visible-xs"></div>
                 <div class="col-lg-4"> 
                       <a href="{{ path('djepoMain_accueil') }}">
                             <img src="{{ asset('bundles/djepobootstrap/images/logo.jpg') }}" alt="{{websiteName}}" class="img-responsive">  
                        </a>
                </div>
                 <div class="col-lg-8">    {# PUB LOGEMENT POUR TOUS #}
                 
                       <a href="{{ path('djepoMain_accueil') }}">
                             <img src="{{ asset('bundles/djepobootstrap/images/logo.jpg') }}" alt="{{websiteName}}" class="img-responsive">  
                        </a>
                 </div>
                 <div class="clearfix  visible-xs"></div>
                <div class="col-lg-12">
                    <div class="masthead">
                        <h3 class="text-muted">Project name</h3>
                            <ul class="nav nav-justified">
                                 <li><a href="{{ path('djepoMain_accueil') }}"><b>Accueil</b></a></li>
                                <li><a href="{{ path('djepoMain_about') }}"><b>Qui nous sommes</b></a></li>
                                <li><a href="{{ path('djepoMain_contact') }}"  rel="nofollow" ><b>Contact</b></a></li>
                           </ul>
                   </div>
                </div>
               
             {% endblock %}    
                </div>
            <div class="clearfix visible-xs"></div>
            <div class="row">{# corp body #}
                 <div class="col-lg-9">
                     <div class="row"> {% block navigsite %} {% endblock %}  </div> 
                     <div class="row">{% block principal %}	 {% endblock %} </div>
                        
                 </div>
                <div class="col-lg-3">
                           {% block droite %}  {% include "djepoMainBundle::menuDroite.html.twig" %}    {% endblock %} 
                </div>
                
            </div>
                <div class="row">
                    <p class="text-muted">
                            {% block pied %} Copyright @ 2012. All rights reserveds.<br> 
                                    Contact: <a href="#">webmaster</a> {# A FAIRE #}
                        </p>
                   {% endblock %}
                </div>
        </div>
        {% block javascripts %}
      <script type="text/javascript" src="{{ asset('bundles/djepobootstrap/js/bootstrap.min.js') }}"></script>
     <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
     {#
            <script type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
            <script type='text/javascript' src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
      #}
{% endblock %}
    </body>
</html>
