{% extends "djepoUserBundle::layout.html.twig" %}
{% block meta %} 
	  <meta name="description" content="Modifier mon mot de passe">
	 <meta name='ROBOTS' content="noindex,nofollow">
	  {% endblock %}
	  
{% block title %} {{ parent()   ~' - Modifier mon mot de passe ' }}  {% endblock %}

{% block navigsite %}
    <ol class="breadcrumb">
            <li> <a href="{{ path('djepoMain_accueil') }}" > {{ djepo_home }} </a> </li>
            <li><a  href="{{ path('djepoUser_profile') }}"> Admin </a></li>
            <li class="active">Modifier mon mot de passe </li>
        </ol>
{% endblock %}
         
{% block fos_user_content %}
 <h1>{{ app.user.username }}: Changer mon mot de passe</h1>

<br>Vous voulez changer de mot de passe ?
<br> Vous devez d'abord taper votre Pseudo ou votre e-mail .
<br><br>
{% include "djepoUserBundle:ChangePassword:changePassword_content.html.twig" %}
{% endblock fos_user_content %}
