{% extends '::base.html.twig' %}

{% block body -%}
    <h1>locationPrestation</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Datedepartprestation</th>
                <td>{{ entity.dateDepartPrestation|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Datefinprestation</th>
                <td>{{ entity.dateFinPrestation|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Montant</th>
                <td>{{ entity.montant }}</td>
            </tr>
            <tr>
                <th>Commentaire</th>
                <td>{{ entity.commentaire }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('locationprestation') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('locationprestation_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('locationprestation_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
