{% extends "djepoUserBundle::adminlayout.html.twig" %}

{% block meta %} 
  <meta name="description" content="Coordonnées">
  <meta name='ROBOTS' content="noindex,nofollow">
 {% endblock %} 

{% block title %} {{ parent()~' - ' ~ 'Tous les Coordonnées des profils'  }}  {% endblock %}
{% block navigsite %} 
  <ol class="breadcrumb">
            <li> <a href="{{ path('djepoMain_accueil') }}"> {{ djepo_home }} </a> </li>
            <li><a  href="{{ path('djepoUser_profile') }}"> Admin </a></li>
            <li class="active">Tous les Coordonnées des profils</li>
        </ol>
{% endblock %} 

{% block principal %}	
  {{ parent() }} 
<br>
<h1>Adresse list</h1>

  <div class="table-responsive">
     <table class="table table-bordered table-striped table-condensed">
    <thead>
        <tr>
            <th>Id</th>
            <th>Numerovoie</th>
            <th>Libelleadd</th>
            <th>Codepostal</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('adresse_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.numeroVoie }}</td>
            <td>{{ entity.libelleAdd }}</td>
            <td>{{ entity.codePostal }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('adresse_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('adresse_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>

<ul>
    <li>
        <a href="{{ path('adresse_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
  {% endblock %} 