{% form_theme form theme %}

<form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_resetting_reset">
  <div>
	 {{ form_errors(form.plainPassword.first) }}
	 {{ form_label(form.plainPassword.first) }}
	 {{ form_widget(form.plainPassword.first) }}
 </div>
  <div>
         {{ form_errors(form.plainPassword.second) }}
	 {{ form_label(form.plainPassword.second) }}
	 {{ form_widget(form.plainPassword.second) }}
 </div>

{{ form_rest(form) }}

 <div>
	 <fieldset >
	    <legend>  </legend>
	   <input type="submit" value="{{ 'resetting.reset.submit'|trans({}, 'FOSUserBundle') }}" />
	 </fieldset>
	 </div>
</form>
