{% extends "djepoUserBundle::layout.html.twig" %}

{% block meta %} 
	<meta name="description" content="Location: formulaire de connexion">
	<meta name='ROBOTS' content="noindex,nofollow">
{% endblock %}
        
{% block title %} {{ parent()  ~' - Connexion '  }} {% endblock %}

   {% block stylesheets %}
       {{ parent() }}
    {% endblock %}      
          
 {% block navigsite %}
          <ol class="breadcrumb">
            <li> <a href="{{ path('djepoMain_accueil') }}"> {{ djepo_home }} </a> </li>
            <li class="active">{{ 'Connexion.' }} </li>
        </ol>
 {% endblock %}

{% block fos_user_content %}

    {% if is_granted('ROLE_USER') %}
        <div class="alert alert-info"> Vous êtes déjà connecté. </div>
   {% else %}  <br>
           {% if websiteUseFacebookLogin %}

                       {{ facebook_initialize({'xfbml': true, 'fbAsyncInit': 'onFbInit();', 'culture': facebookLocale}) }}
                       <script>
                           function goLogIn(){
                               window.location = "{{ path('_security_check') }}";
                           }

                           function onFbInit() {
                               if (typeof(FB) != 'undefined' && FB != null ) {
                                   FB.Event.subscribe('auth.statusChange', function(response) {
                                       if (response.session || response.authResponse) {
                                           setTimeout(goLogIn, 500);
                                       } else {
                                           window.location = "{{ path('_security_logout') }}";
                                       }
                                   });
                               }
                           }
                       </script>
               {% endif %}

<div class="row">
     <div class="col-sm-6">
        <div class="panel panel-default">
                        <div class="panel-heading">Formulaire de connexion</div>
                        <div class="panel-body">

                                Vous possédez déjà un compte ? Entrez vos codes dans les espaces suivant :<br>				
                                      {% if error %}  <div class="label label-warning">{{ error|trans([], 'djepoUserBundle') }} </div><br>  {% endif %}

                                    <div class="row">
                                      <form class="form-signin" action="{{ path("fos_user_security_check") }}" method="post">
                                                   <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                                                   <div>
                                                       <label for="username" >{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}  <span class="ast">*</span> </label>
                                                       <input type="text" id="username" name="_username" size="20" value="{{ last_username }}"  class="form-control" /><br>
                                                  </div>
                                                  <div>
                                                      <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }} <span class="ast">*</span> </label>
                                                      <input type="password" id="password" name="_password"  class="form-control" />
                                                  </div> 
                                                 <div>
                                                        <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
                                                         <input type="checkbox" id="remember_me" name="_remember_me" value="on" /> <br>
                                                 </div>
                                                 <div>
                                                       <input type="submit" class="btn btn-lg btn-primary btn-block" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
                                                </div> 
                                          </form> 
                                     </div>  
                                      <div class="row"> 
                                          <div class="col-sm-offset-1 col-sm-10"> 
                                              <div class="panel-footer">
                                              <a href="{{ path('fos_user_inscription_register') }}" rel="nofollow" >Je ne suis pas inscrit !</a>  <br>
                                              <a href="{{ path('fos_user_resetting_request') }}"  rel="nofollow" >J'ai oublié mon mot de passe !</a>
                                           </div>
                                      </div>
                                     </div>
                             </div>
                       </div>
             </div>
         <div class="col-sm-6"> 
                <div class="panel panel-default">
                    <div class="panel-heading">Compte facebook</div>
                    <div class="panel-body">
                        Vous possédez déjà un compte Facebook? Utilisez le<br>
                       {% if websiteUseFacebookLogin %}   {{ facebook_login_button({'autologoutlink': false}) }}  {% endif %}
                    </div>
             </div>

         </div>
   </div>

       {% endif %}			

{% endblock fos_user_content %}

{% block djepo_content %}    {% endblock djepo_content %}